@media screen and (max-width: 999px) {
  #skills {
    flex-direction: column;
  }

  .icons {
    justify-content: center;
  }
}

#skills {
  background: var(--skills-bg);
  display: flex;
  padding: 48px 2vw;
  justify-content: space-evenly;
  align-items: center;
}

#skills h2 {
  display: block;

  text-align: center;
  font-size: 64px;
  padding: 48px 0;
  background: linear-gradient(to right, var(--about-bg), var(--skills-bg));
  background-clip: text;
  color: transparent;
}

.icons {
  margin-left: 2vw;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.item-container {
  height: 128px
}

.item-container legend {
  text-align: center;
  font-size: 24px;
  display: none;
}

.item:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px black;
}

.item:hover + legend {
  display: block;
  background: linear-gradient(to right, var(--about-bg), var(--skills-bg));
  background-clip: text;
  color: transparent;
}

