@media screen and (max-width: 999px) {
  header {
    display: none;
  }
}

header {
  width: 100%;
  position: fixed;
  height: 100px;
  z-index: 1;
}

ul {
  background: var(--header-bg);
  height: 100px;
  display: flex;
  padding: 0 4vw;
  align-items: center;
  justify-content: end;
}

li {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: whitesmoke;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 48px;
}

li:hover {
  border-bottom: 2px solid var(--skills-bg);
  text-shadow: 2px 1px;
}
