:root {
  --header-bg: #db1f48;
  --about-bg: #004369;
  --skills-bg:  #e5ddc8;
  --projects-bg: #01949a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}

img {
  border-radius: 24px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
