@media screen and (max-width: 999px) {
  #contacts {
    flex-direction: column;
  }

  .vertical-pipe {
    display: none;
  }
}

#contacts {
  padding: 64px 0;
  background: rgb(112, 112, 112);
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacts h2 {
  font-size: 48px;
}

.vertical-pipe {
  height: 200px;
  width: 3px;
  background-color: black;
  margin: 16px 48px;
}